bcrypt==3.2.0
cbor2==5.4.2
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
colorzero==1.1
cryptography==36.0.0
Deprecated==1.2.13
distro==1.5.0
gpiozero==1.6.2
idna==2.10
luma.core==2.3.1
luma.oled==3.8.1
Pillow==8.4.0
pycparser==2.21
pyftdi==0.53.3
pyserial==3.5
python-apt==2.2.1
pyusb==1.2.1
requests==2.25.1
RPi.GPIO==0.7.0
six==1.16.0
smbus2==0.4.1
spidev==3.5
ssh-import-id==5.10
urllib3==1.26.5
wrapt==1.13.3
xkcdpass==1.19.3
